/* EditorTexto.css */

.editor-container {
    border: 2px solid black; /* Línea negra alrededor del contenedor */
    text-align: center; /* Centrar el contenido del contenedor */
    padding: 20px; /* Espacio interno dentro del contenedor */
  }
  
  /* EditorTexto.css */

.editor-textarea {
    margin-bottom: 10px; /* Espacio inferior para separar del botón */
    border: 2px solid black; /* Borde negro */
    padding: 5px; /* Espacio interno dentro del área de texto */
    resize: none; /* Desactivar la capacidad de redimensionar el área de texto */
    width: fit-content; /* Ancho ajustado al contenido */
    margin: 0 auto; /* Centrar el área de texto horizontalmente */
  }

  
  
  .rellenar-button {
    background-color: green;
    color: white;
    border: 1px solid green;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px; /* Aplica un borde redondeado */
  }
  
  .resultado {
    margin-top: 20px; /* Espacio superior para separar del botón */
    background-color: #e6f1f9; /* Fondo azul claro */
    padding: 10px; /* Espacio interno dentro del resultado */
    text-align: left;
    margin-left: 200px;
  }
  
  .selecciona-palabra {
    margin-bottom: 20px;
    background-color: lightblue; /* Fondo de color claro */
    padding: 5px; /* Espacio interno dentro del párrafo */
    
  }
  
  .palabra-input {
    margin-left: 5px; /* Espacio a la izquierda del campo de entrada */
    
  }
  .verificar-button {
    background-color: blueviolet; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    border: 1px solid blueviolet; /* Contorno verde */
    padding: 10px; /* Espacio interno dentro del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
    margin-top: 10px; /* Espacio superior */
    border-radius: 20px; /* Aplica un borde redondeado */
  }

  .html-button {
    background-color: rgb(43, 144, 226); /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    border: 1px solid rgb(43, 144, 226); /* Contorno verde */
    padding: 10px; /* Espacio interno dentro del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
    margin-top: 10px; /* Espacio superior */
    border-radius: 20px; /* Aplica un borde redondeado */
    margin-left: 10px;
  }

  .JS-button {
    background-color: rgb(43, 144, 226); /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    border: 1px solid rgb(43, 144, 226); /* Contorno verde */
    padding: 10px; /* Espacio interno dentro del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima del botón */
    margin-top: 10px; /* Espacio superior */
    border-radius: 20px; /* Aplica un borde redondeado */
    margin-left: 10px;
  }

  .mensaje {
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .mensaje-correcto {
    background-color: green;
  }
  
  .mensaje-incorrecto {
    background-color: rgb(185, 86, 5);
  }
  
  .solucion-container {
    background-color: #e6e6fa;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
  }

  .palabras-input {
    margin-bottom: 20px;
    border: 1px solid black;
  }

  .relleno {
    border: 0.5px solid black; /* Borde negro */
    padding: 5px; /* Espacio interno dentro de la celda */
    /*line-height: 1.5; /* Espaciado entre líneas */
    margin-bottom: 5px; /* Espacio entre celdas */
  }

  .editor-textarea {
    margin-bottom: 10px; /* Espacio inferior para separar del botón */
    border: 2px solid black; /* Borde negro */
    padding: 5px; /* Espacio interno dentro del área de texto */
    resize: none; /* Desactivar la capacidad de redimensionar el área de texto */
    width: fit-content; /* Ancho ajustado al contenido */
    margin: 0 auto; /* Centrar el área de texto horizontalmente */
  }

  .instrucciones-container{
      margin-bottom: 10px; /* Espacio inferior para separar del botón */
      border: 2px solid black; /* Borde negro */
      padding: 5px; /* Espacio interno dentro del área de texto */
      resize: none; /* Desactivar la capacidad de redimensionar el área de texto */
      width: fit-content; /* Ancho ajustado al contenido */
      margin: 0 auto; /* Centrar el área de texto horizontalmente */

  }

  .aceptar-button{

    background-color: green;
    color: white;
    border: 1px solid green;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px; /* Aplica un borde redondeado */
  }

  .contenido-instrucciones{
    margin-top: 20px; /* Espacio superior para separar del botón */
    background-color: #4e7998; /* Fondo azul claro */
    padding: 10px; /* Espacio interno dentro del resultado */

  }