.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -9.7vh; /* Ajusta el valor según tu preferencia */
    align-items: flex-end;
  }
  
  .button-menu {
    background-color: #db3d44;
    padding: 15px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .custom-button {
    width: 100px; /* Ancho deseado para los botones */
    height: 100px; /* Alto deseado para los botones */
  }
  
  .button-icon {
    width: 90%; /* Ajustar imagen al ancho del botón */
    height: 90%; /* Ajustar imagen al alto del botón */
    object-fit: cover; /* Ajustar imagen para llenar el espacio del botón */
  }
  